using Microsoft.EntityFrameworkCore;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.DependencyInjection;

namespace {{ .Name }}.Infrastructure.DependencyInjection;

public static class DependencyInjection
{
    public static IServiceCollection AddInfrastructure(this IServiceCollection services, IConfiguration configuration)
    {
        services.AddDbContext<Persistence.AppDbContext>(options => {
        {{ if eq .Database "PostgreSQL" }}    options.UseNpgsql(configuration.GetConnectionString("DefaultConnection"));
        {{ else if eq .Database "SqlServer" }}    options.UseSqlServer(configuration.GetConnectionString("DefaultConnection"));
        {{ end }}});

        return services;
    }
}
