using MediatR;
using {{ .Name }}.Application.WeatherForecasts.DTOs;

namespace {{ .Name }}.Application.WeatherForecasts.Commands;

public record CreateWeatherForecastCommand(CreateWeatherForecastDto Dto) : IRequest<WeatherForecastDto>;