using MediatR;
using {{ .Name }}.Application.WeatherForecasts.DTOs;

namespace {{ .Name }}.Application.WeatherForecasts.Queries;

public record GetWeatherForecastByIdQuery(int Id) : IRequest<WeatherForecastDto?>;